*{
    padding: 0;
    margin: 0;
    
}
.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2fr .3fr .3fr .3fr 1.5fr 1fr .5fr ;
    width: 102%;
    height: 100vh;
    grid-template-areas: 
    "one one one one"
    "two two three three"
    "four four five five"
    "six six seven seven"
    "three-div three-div three-div three-div"
    "four-div four-div four-div four-div"
    "fifteen fifteen fifteen fifteen";
    
}
.one{
    grid-area: one;
    background-image: url('C:\Users\user\Documents\GitHub\sunny-leon-\image_folder\image-header.jpg');
}
.two{
    grid-area: two;
    background-color: blue;
}
.three{
    grid-area: three;
    background-color: blueviolet;
}
.four{
    grid-area: four;
    background-color: brown;
}
.five{
    grid-area: five;
    background-color: burlywood;

}
.six{
    grid-area: six;
    background-color: cadetblue;
}
.seven{
    grid-area: seven;
    background-color: chartreuse;
}
.three-div{
    grid-area: three-div;
}
.four-div{
    grid-area: four-div;
    background-color: cornflowerblue;
}
.fifteen{
    grid-area: fifteen;
    background-color: darkgreen;
}
/*three-div as row*/
.three-div{
    display: flex;
    flex-direction: row;
}
.eight{
    background-color: darkmagenta;
    width: 33.3%;
}
.nine{
    background-color: yellowgreen;
    width: 33.3%;
}
.ten{
    background-color: pink;
    width: 33.3%;
}
.four-div{
    display: flex;
    flex-direction: row;

}
.eleven{
    width: 25%;
    background-color: tomato;
}
.twelve{
    width: 25%;
    background-color: gray;
}
.thirteen{
    width: 25%;
    background-color: tomato;
}
.eleven{
    width: 25%;
    background-color: tomato;
}
.logo{
    padding-left: 20px;
    color: white;
    font-size: 20px;
}
.nav ul{
    margin-left: 75%;
    list-style: none;
    margin-top: -12px;
    display: flex;
}
.nav ul li a{
    text-decoration: none;
    list-style: none;
    padding-left: 30px;
    
}